<section class="p-5">
  <div
    class="p-10 min-h-[15rem] h-fit flex gap-10 items-center justify-center flex-wrap"
  >
    @for(card of cards; track card. name){
    <app-weather-card
      [city]="card.city"
      [temperature]="card.temperature"
      [desc]="card.desc"
      [url]="card.url"
    ></app-weather-card>
    }
  </div>
  <div class="flex items-center justify-center">
    <!-- <button
      routerLink="/weather"
      class="px-5 py-3 text-xl text-nowrap text-black font-bold hover:cursor-pointer hover:bg-black hover:text-white transition-all duration-300 rounded-3xl"
    >
      Check the weather
    </button> -->
    <button
      routerLink="/weather"
      class="px-5 py-3 text-xl text-nowrap text-black font-bold hover:cursor-pointer transition-all duration-300 rounded-3xl hover:text-gray-500"
    >
      Check the weather
    </button>
  </div>
</section>
