<div class="relative w-screen h-screen">
  <video
    autoplay
    muted
    loop
    id="myVideo"
    class="absolute inset-0 w-full h-full object-cover z-[-1]"
  >
    <source
      src="../../../../../assets/videos/smog-city-bg-compressed.mp4"
      type="video/mp4"
    />
  </video>
  <div class="flex flex-col p-5 gap-5">
    <div
      class="md:w-[50%] mx-auto backdrop-blur-lg rounded-lg shadow-md flex items-center justify-center p-5"
    >
      <app-air-quality-form></app-air-quality-form>
    </div>
    <div
      name="cards container"
      class="flex flex-col gap-5 max-h-[10rem] md:max-h-[30rem] h-[20%] md:h-[25rem] overflow-y-scroll"
    >
      @for(city of airQualityService.citiesDataObjectArray; track city.city){
      <app-air-quality-card
        [name]="city.name"
        [co]="city.co"
        [no2]="city.no2"
        [so2]="city.so2"
        [pm2_5]="city.pm2_5"
        [pm10]="city.pm10"
        [nh3]="city.nh3"
      ></app-air-quality-card
      >}
    </div>
  </div>
</div>
