<!-- <div class="main">
  <h1>
    This is purely:
    <div class="roller">
      <span id="rolltext">HTML</span><br />
      <span id="rolltext">CSS</span><br />
      <span id="rolltext">Curiosity</span><br />
    </div>
  </h1>
</div> -->
<div class="text-slide">
  <div class="text-wrap">
    <div class="text font-semibold text-black">
      <span>Check the weather</span>
      <span>Quality index</span>
      <span>Air polution</span>
      <span>Safety</span>
      <span>All up to date</span>
    </div>
  </div>
</div>
