<div
  class="shadow-md md:w-[50%] mx-auto text-white p-5 flex flex-col gap-5 rounded-lg backdrop-blur-lg"
>
  <div class="flex gap-10 items-end">
    <p class="text-lg font-semibold drop-shadow-md">{{ city }}</p>
  </div>
  <div class="flex items-end gap-5">
    <p class="text-5xl font-bold drop-shadow-md">{{ temperature }}°C</p>
    <div class="flex flex-col">
      <p class="text-md font-semibold">{{ shortDesc }}</p>
      <p class="italic">{{ longDesc }}</p>
    </div>

    <p class="font-semibold italic">{{ date }}</p>
  </div>
</div>
