<section class="relative w-screen h-[60vh]">
  <video
    autoplay
    muted
    loop
    id="myVideo"
    class="absolute inset-0 w-full h-full object-cover z-[-1]"
  >
    <source
      src="../../../../../assets/videos/clouds-doublecompressed.mp4"
      type="video/mp4"
    />
  </video>

  <div
    class="w-screen h-[20rem] flex flex-col items-center justify-center my-auto"
  >
    <p class="font-bold text-5xl mb-5 text-center drop-shadow-md">
      Everything you need in one place
    </p>
    <app-hero-section-changing-text></app-hero-section-changing-text>
  </div>
</section>
