<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  class="flex flex-col gap-5 min-w-[30rem]"
>
  <div class="flex gap-5">
    <div class="flex flex-col items-center justify-center">
      <label for="" class="text-xl font-semibold">Choose a region</label>

      <select
        name="region"
        ngModel
        #region="ngModel"
        class="w-[10rem] bg-transparent border-2 border-black rounded-full px-3 py-1 my-2 font-semibold text-center"
      >
        @for(region of regionArrays; track region){
        <option [value]="region" class="p-3">{{ region }}</option>
        }
      </select>
    </div>
    <div class="flex flex-col items-center justify-center">
      <label for="" class="text-xl font-semibold">Choose a city</label>
      <select
        #city="ngModel"
        name="city"
        class="w-[10rem] bg-transparent border-2 border-black rounded-full px-3 py-1 my-2 font-semibold text-center"
        ngModel
      >
        @for(city of citiesArrays; track city){
        <option [value]="city" class="p-3">{{ city }}</option>
        }
      </select>
    </div>

    <div class="flex flex-col items-center justify-center">
      <label for="" class="text-xl font-semibold">Sort data</label>
      <select
        #sort="ngModel"
        name="sort"
        class="w-[10rem] bg-transparent border-2 border-black rounded-full px-3 py-1 my-2 font-semibold text-center"
        ngModel
      >
        <option value="Alphabetically">Alphabetically</option>
        <option value="HighestTemp">Highest temperature</option>
        <option value="LowestTemp">Lowest temperature</option>
      </select>
    </div>
  </div>
  <div class="mx-auto">
    <button
      type="submit"
      class="px-3 py-1 bg-transparent border-2 border-black text-lg font-semibold rounded-full"
    >
      Load data
    </button>
  </div>
</form>
