<section class="p-10">
  <div
    class="p-10 min-h-[15rem] flex gap-5 items-center justify-center flex-wrap h-fit"
  >
    @for(item of items; track item.name){
    <app-air-quality-card
      [title]="item.name"
      [desc]="item.desc"
      [icon]="item.icon"
    ></app-air-quality-card>

    }
  </div>
  <div class="flex items-center justify-center">
    <button
      routerLink="/airquality"
      class="px-5 py-3 text-nowrap border-2 border-black text-black font-bold hover:cursor-pointer hover:bg-black hover:text-white transition-all duration-300 rounded-3xl"
    >
      Check the weather
    </button>
  </div>
</section>
