<section class="p-10">
  <div
    class="p-10 min-h-[15rem] flex gap-5 items-center justify-center flex-wrap h-fit"
  >
    @for(item of items; track item.name){
    <app-air-quality-card
      [title]="item.name"
      [desc]="item.desc"
      [icon]="item.icon"
    ></app-air-quality-card>

    }
  </div>
  <div class="flex items-center justify-center">
    <button
      routerLink="/airquality"
      class="px-5 py-3 text-xl text-nowrap text-black font-bold hover:cursor-pointer transition-all duration-300 rounded-3xl hover:text-gray-500"
    >
      Check the air quality
    </button>
  </div>
</section>
