<section class="relative p-10 bg">
  <img
    class="absolute top-0 left-0 h-full w-full object-cover z-[-1]"
    src="../../../../../assets/weather/cloud-bg.jpg"
    alt=""
  />
  <p
    class="font-bold text-3xl flex gap-5 drop-shadow-lg p-5 items-end justify-center"
  >
    Stay safe
    <ng-icon name="remixSurgicalMaskLine" class=""></ng-icon>
  </p>
  <div
    class="p-10 min-h-[15rem] flex gap-5 items-center justify-center flex-wrap h-fit"
  >
    @for(item of items; track item.name){
    <app-air-quality-card
      [title]="item.name"
      [desc]="item.desc"
      [icon]="item.icon"
    ></app-air-quality-card>

    }
  </div>
  <div class="flex items-center justify-center">
    <button
      routerLink="/airquality"
      class="px-5 py-3 text-xl text-nowrap text-black font-bold hover:cursor-pointer transition-all duration-300 rounded-3xl hover:text-gray-500 flex gap-3 items-center justify-center"
    >
      Check the air quality
      <ng-icon name="bootstrapArrowUpRightCircleFill"></ng-icon>
    </button>
  </div>
</section>
