<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  class="flex flex-col items-center justify-center gap-5 w-fit"
>
  <div class="flex gap-5 flex-col sm:flex-row">
    <div class="flex flex-col items-center justify-start gap-5">
      <label for="" class="text-xl font-semibold">Select a city</label>
      <select
        [(ngModel)]="airQualityService.selectedCity"
        name="region"
        class="w-[10rem] bg-transparent border-2 border-black rounded-full px-3 py-1 my-2 font-semibold text-center"
      >
        @for(city of airQualityService.citiesToChooseFrom; track city){
        <option [value]="city.name">
          {{ city.name }}
        </option>
        }
      </select>
    </div>
  </div>
  <button
    class="px-3 py-1 bg-transparent border-2 border-black text-lg font-semibold rounded-full"
    (click)="airQualityService.checkAirQuality()"
  >
    Check air quality
  </button>
  @if(airQualityService.citiesDataObjectArray.length > 1){
  <div class="flex text-gray-400 items-center justify-start gap-5">
    <label for="" class="italic">sort data</label>
    <select
      [(ngModel)]="airQualityService.selectedSort"
      name="sort"
      class="w-[10rem] bg-transparent border-2 border-gray-400 rounded-full px-3 py-1 italic"
      (click)="airQualityService.sortArray()"
    >
      <option value="Alphabetically">Alphabetically</option>
    </select>
  </div>
  }
</form>

<!-- <div class="flex gap-5 flex-col sm:flex-row">
    <div class="flex flex-col items-center justify-start gap-5">
      <label for="" class="text-xl font-semibold">Select a region</label>
      <select
        [(ngModel)]="weatherCardsService.selectedRegionInService"
        name="region"
        (change)="onRegionSelectChange()"
        class="w-[10rem] bg-transparent border-2 border-black rounded-full px-3 py-1 my-2 font-semibold text-center"
      >
        @for(region of weatherCardsService.regionArrays; track region){
        <option [value]="region">
          {{ region }}
        </option>
        }
      </select>
    </div>

    <div class="flex flex-col items-center justify-start gap-5">
      <label for="" class="text-xl font-semibold">Select a city</label>
      <select
        [(ngModel)]="weatherCardsService.selectedCity"
        name="city"
        (change)="onCitySelectChange()"
        class="w-[10rem] bg-transparent border-2 border-black rounded-full px-3 py-1 my-2 font-semibold text-center"
      >
        @for(city of weatherCardsService.citiesToSelect; track city){
        <option [value]="city">
          {{ city }}
        </option>
        }
      </select>
    </div>
  </div>
  <button
    class="px-3 py-1 bg-transparent border-2 border-black text-lg font-semibold rounded-full"
    (click)="weatherCardsService.getDataForASpecifiedCity()"
  >
    City weather
  </button>

  @if(weatherCardsService.citiesDataObjectArray.length > 1){
  <div class="flex text-gray-400 items-center justify-start gap-5">
    <label for="" class="italic">sort data</label>
    <select
      [(ngModel)]="weatherCardsService.selectedSort"
      name="sort"
      class="w-[10rem] bg-transparent border-2 border-gray-400 rounded-full px-3 py-1 italic"
      (click)="weatherCardsService.sortArray()"
    >
      <option value="Alphabetically">Alphabetically</option>
      <option value="HighestTemp">Highest temperature</option>
      <option value="LowestTemp">Lowest temperature</option>
    </select>
  </div>
  } -->
