<div class="relative w-screen h-screen">
  <video
    autoplay
    muted
    loop
    id="myVideo"
    class="absolute inset-0 w-full h-full object-cover z-[-1]"
  >
    <source
      src="../../../../../assets/videos/weather-forest-bg-compressed.mp4"
      type="video/mp4"
    />
  </video>
  <div class="flex flex-col p-5 gap-10">
    <div
      class="md:w-[50%] mx-auto backdrop-blur-lg rounded-lg shadow-md flex items-center justify-center p-10"
    >
      <app-weather-form></app-weather-form>
    </div>
    <div
      name="cards container"
      class="flex flex-col gap-5 max-h-[10rem] md:max-h-[20rem] h-[20%] md:h-[25rem] overflow-y-scroll"
    >
      @for(city of weatherCardsService.citiesDataObjectArray; track
      city.cityName){
      <app-weather-city-card
        [city]="city.cityName"
        [temperature]="city.temp"
        [longDesc]="city.longDesc"
        [shortDesc]="city.shortDesc"
      >
      </app-weather-city-card
      >}
    </div>
  </div>
</div>
