<footer>
  <div class="border-t-2 p-5 flex flex-col items-center justify-center italic">
    <p class="flex items-center justify-center">
      Created as a recruitment with
      <ng-icon
        name="tablerHeartFilled"
        class="font-bold drop-shadow-lg text-xl mx-2"
      ></ng-icon>
      task for Nokia
    </p>

    <div class="flex items-center justify-center gap-1">
      <p>Code at</p>
      <a
        href="https://github.com/piotrjass/WeatherApp"
        target="_blank"
        class="hover:cursor-pointer flex items-center justify-center text-center"
      >
        <ng-icon
          name="tablerBrandGithubFilled"
          class="font-bold drop-shadow-lg text-xl mx-2"
        ></ng-icon>
      </a>
    </div>
    <p>Piotr Jasiulewicz</p>
  </div>
</footer>
